.signin-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #E1E1E1;
}

.form__name-input {
    padding: 0.8rem;
    border: 2px solid grey;
    border-radius: 0.3rem;
    margin: 10px 0;
    outline: none;

}


.form__password-input{
    @extend .form__name-input;
}

.form__submit-button {
    color: white;
    background: #323232;
    font-size: 1.3rem;
    border-radius: 0.3rem;
    border: none;
    padding: 0.7rem;
    cursor: pointer;
    outline: none;

    &:hover {
        background-color: black;
    }
}


.signin-form__title {
    align-self: center;
}